<html>
<head>
    <title>CRUD Application</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">


</head>>

<body>
<div class="container">
    <div class="well text=center">
        <h1>Python Flas CRUD Application</h1>
    </div>

    <div class="container">
    <div class="row">
        <div class="col mid-12">
            <h2>Student List <button type="button" class="btn btn-success pull-right"
                                     data-toggle = "modal" data-target = "#mymodal">
                Add Student  Data</button> </h2>
            <table class="table table-striped">
                <tr>
                    <th>Serial </th>
                    <th>Name </th>
                    <th>Email </th>
                    <th>Phone </th>
                    <th>Action </th>
                </tr>
                <tr>
                    <td>00</td>
                    <td>Name</td>
                    <td>mail@mail.com</td>
                    <td>(555) 555-1234</td>
                    <td>
                        <a href="" class="btn btn-warning btn-xs" data-toggle="modal"
                           data-target="#modaledit">Edit</a>

                    </td>

                </tr>
            </table>
            </div>


    </div>
    </div>

    <div class="well">
    <h3>Left footer
    <span class="pull-right">Right footer </span>
    </h3>
    </div>
</div>

</body>

</html>>